.git
.github
.vscode

.env
.env.*
!.env.example

node_modules
artifacts
build
coverage
dist
fixtures
generated
test

docs
examples
scripts
packages/**/*.spec.ts
packages/**/*.spec-helper.ts
packages/*/artifacts
packages/*/build

*.log
*.tsbuildinfo
